:root {
  --text-color:black;
  --body-background-color:white;
  --title-footer-background:#2f303a;
  --change-color:#2196f3;
  --link-title-color:#212121;
  --link-ad-description-color:#757575;
  --team-background:#f5f4fa;
  --border-color:#eeeeee;
  --color-social-links-team:#afb1b8;
}

.banner {
  background-color: var(--text-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.7)), url(../images/banner-index-desktop.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.7)), url("../images/banner-index-desktop@2x.jpg");
  }
}
@media screen and (min-width: 180px) and (max-width: 480px) {
  .banner,
hr {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .banner {
    background-color: var(--text-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.7)), url(../images/banner-index-table.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.7)), url("../images/banner-index-table@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .banner {
    background-color: var(--text-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/banner-index-desktop.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.7)), url("../images/banner-index-desktop@2x.jpg");
  }
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.title h1 {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--body-background-color);
  padding-top: 118px;
}

@media screen and (min-width: 1200px) {
  .title {
    gap: 41px;
  }
  .title h1 {
    font-size: 44px;
    line-height: 60px;
    padding-top: 207px;
  }
}
#button-index {
  background: var(--change-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--body-background-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 2px;
  letter-spacing: 0.06em;
  border: 0;
}

.article article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article__icon {
  /*width: 450px;*/
  height: 120px;
  background-color: var(--team-background);
  border-radius: 4px;
  margin-bottom: 30px;
}

.article__benefits {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--link-title-color);
  margin-bottom: 10px;
  text-align: center;
}

.article__description {
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--link-ad-description-color);
  padding-left: 25px;
  padding-right: 25px;
}

article:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .article {
    display: flex;
    flex-wrap: wrap;
  }
  .article article {
    width: calc((100% + 0px) / 2);
  }
  .article__icon {
    width: 354px;
    height: 120px;
    background-color: var(--team-background);
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .article__description {
    padding-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .article {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .article__icon {
    width: 270px;
  }
}
.button ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 8px;
}

.button--buttons {
  border-radius: 4px;
  border: var(--team-background);
  background: var(--team-background);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  padding: 6px 22px;
}
.button--buttons:hover {
  color: var(--body-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button[type=button]:hover {
  background-color: var(--change-color);
}

@media screen and (min-width: 768px) {
  .button ul {
    display: flex;
    justify-content: center;
  }
}
.adjust__img {
  display: flex;
  justify-content: center;
  flex-flow: column;
  cursor: pointer;
  gap: 30px;
}
.adjust__img.adjust__img--applications {
  margin-top: 30px;
  margin-left: 15px;
  margin-top: 15px;
  margin: 5px;
  list-style: none;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .adjust__img {
    display: flex;
    flex-flow: wrap;
    justify-content: left;
  }
  .adjust__img .none__style {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .adjust__img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .adjust__img .none__style {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
.adjust__img--applications:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.adjust__img figcaption {
  padding-left: 24px;
  padding-bottom: 10px;
  padding-top: 30px;
  border-bottom: 1px solid var(--border-color);
}
.adjust__img figcaption p {
  padding-bottom: 20px;
  padding-top: 4px;
}
.adjust__img figcaption p.font {
  font-weight: 700;
  font-size: 16px;
}

.adjust__img--translate {
  position: relative;
  overflow: hidden;
}

.adjust__img--description__card {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 140px 15px;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--body-background-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .adjust__img--description__card {
    padding: 70px 10px;
  }
}
.adjust__img--translate:hover .adjust__img--description__card {
  transform: translateY(0);
}

.client__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 44px;
  padding: 0 25px;
}

.client__link {
  display: flex;
  height: 92px;
  border: 1px solid var(--color-social-links-team);
  border-radius: 4px;
}

.client__list .client__clients {
  width: calc((100% - 30px) / 2);
}

.client__icon {
  fill: var(--color-social-links-team);
  padding: 20px 40px;
}
.client__icon:hover {
  fill: var(--change-color);
}

.client__link:hover {
  border-color: var(--change-color);
}

@media screen and (min-width: 768px) {
  .client__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
  }
  .client__list .client__clients {
    width: calc((100% + 160px) / 4);
  }
  .client__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client-title {
    font-size: 36px;
    line-height: 42px;
  }
  .client__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 44px;
  }
  .client__link {
    width: 170px;
  }
  .client__list .client__clients {
    width: calc((100% - 150px) / 6);
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  background-color: var(--body-background-color);
  color: var(--text-color);
}

a:hover {
  color: var(--change-color);
}

.none__style {
  list-style: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .section {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    margin-top: 94px;
    margin-bottom: 94px;
  }
}
img {
  display: block;
  width: 100%;
  height: auto;
}

.banner__footer {
  background: var(--title-footer-background);
}

/*@media screen and (min-width: 180px) and (max-width: 480px) {
  .banner__footer {
    width: 480px;
  }
}*/
.footer--flex {
  display: flex;
  flex-direction: column;
}

.footer__address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

footer p {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--body-background-color);
  text-align: center;
  margin: 0;
}

.footer__city,
.footer__contact {
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--body-background-color);
}

.footer__city {
  margin-top: 9px;
  line-height: 24px;
}

.footer__contact {
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--title-footer-background);
  text-decoration: none;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
  gap: 20px;
}

.social__links {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 10px;
}
.social__links a {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social__links .team__social__icon {
  fill: var(--body-background-color);
}
.social__links a:hover {
  background-color: var(--change-color);
}

.footer--subs {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.footer__email {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.box__email {
  background-color: var(--title-footer-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  height: 50px;
  color: var(--body-background-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3%;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .box__email {
    width: 60%;
    margin-left: 135px;
  }
}
@media screen and (min-width: 1200px) {
  .box__email {
    margin-left: 0;
  }
}
.footer__button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 39px;
  margin-bottom: 60px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--body-background-color);
  background-color: var(--change-color);
  border-color: var(--text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .footer__button {
    width: 200px;
    margin-left: 250px;
    padding: 0;
  }
}
.footer__send {
  display: block;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer--flex--distribution {
    display: flex;
    justify-content: space-between;
    padding: 0 65px;
    margin-top: 65px;
  }
  .social {
    margin: 0;
    padding-top: 0;
  }
  .footer__address {
    padding-top: 0;
  }
  .social .footer--subs {
    margin-top: 54px;
  }
}
@media screen and (min-width: 1200px) {
  .footer--flex {
    display: flex;
    flex-direction: row;
  }
  .footer--flex--distribution {
    display: flex;
    padding: 0;
    margin-top: 65px;
    gap: 120px;
  }
  .footer__address {
    padding-bottom: 47px;
    align-items: flex-start;
  }
  footer p {
    text-align: left;
  }
  .footer__city,
.footer__contact {
    line-height: 24px;
  }
  .footer__city {
    margin-top: 20px;
  }
  .social {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
  }
  .social .footer--subs {
    margin-top: 65px;
    margin-left: 93px;
  }
  .footer__email {
    display: flex;
    flex-direction: row;
    margin-left: 93px;
  }
  .box__email {
    width: 358px;
    margin-bottom: 0px;
  }
  .footer__button {
    min-width: 200px;
    height: 50px;
    margin-left: 12px;
    padding-left: 10px 45px;
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 50px;
  margin: 32px 93px;
}

@media screen and (min-width: 768px) {
  .nav ul {
    padding: 17px 0;
    gap: 10px;
    margin: 0;
  }
  ul.selector {
    gap: 50px;
  }
}
/*.header_off {
  display: flex;
  justify-content: space-between;
}*/
.left__header {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 50px;
}

@media screen and (min-width: 768px) {
  .left__header {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .left__header {
    display: flex;
    flex-direction: row;
  }
  .nav ul {
    padding: 32px 0;
    gap: 50px;
  }
  .nav .selector {
    margin-left: -190px;
  }
  .phone .icon__nav {
    margin-right: 0px;
  }
}
.nav__link--style,
.nav__link__ad--style {
  color: var(--link-title-color);
  font-weight: 500px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.selector .nav__menu {
  position: relative;
}

.visit::after {
  position: absolute;
  content: "";
  top: 44px;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 2px;
  background-color: var(--change-color);
}

.selector .visit:visited {
  color: var(--change-color);
}

.nav__link__ad--style {
  color: var(--link-ad-description-color);
}

.nav__menu,
.nav__menu__address {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  list-style: none;
}

.nav .left__header {
  margin-right: 15px;
}

.icon__nav {
  width: 16px;
  max-height: 15px;
  margin-right: 5px;
  fill: var(--link-ad-description-color);
}

.phone .icon__nav {
  margin-right: 15px;
}

.nav__link__ad--style:hover .icon__nav {
  fill: var(--change-color);
  color: var(--change-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.job__service {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-title-color);
  margin-bottom: 55px;
}

.job ul {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 30px;
}

.job__images {
  list-style: none;
}

.job__images--title {
  position: relative;
  top: -68px;
  margin-right: 1px;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  color: var(--body-background-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .job {
    display: none;
  }
}
@media (max-width: 1199px) {
  .job {
    display: none;
  }
}
@media (min-width: 1200px) {
  .job {
    padding: 0 100px;
  }
  .section .job {
    margin-bottom: 0;
  }
}
.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  font-family: "Raleway";
  color: var(--change-color);
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 31px;
  }
}
.menu__toggle {
  margin: 0;
  padding: 10px 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu__toggle:hover, .menu__toggle:focus {
  fill: var(--change-color);
}

@media screen and (max-width: 767px) {
  .nav__menu,
.left__header,
.nav ul {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu__toggle {
    display: none;
  }
}
.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--body-background-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu__container.is-open {
  transform: translateX(0);
}
.menu__container .menu__toggle {
  position: absolute;
  top: 2px;
  right: 45px;
}

.mobile {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 50px;
}

.mobile__nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--link-title-color);
}

.mobile__nav--style {
  margin-bottom: 32px;
}

.mobile__menu {
  list-style: none;
}
.mobile__menu .select:visited {
  color: var(--change-color);
}

.mobile__address {
  margin-top: 250px;
}

.mobile__address__contact {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}
.mobile__address__contact:hover {
  font-size: 34px;
  line-height: 40px;
}

.nav__link__ad--style:hover {
  color: var(--change-color);
}

.mobile__social {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 64px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.mobile__social__link {
  text-decoration: none;
  color: var(--change-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 78%;
  background-color: var(--body-background-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 40px;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__label {
  position: relative;
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--link-ad-description-color);
}
.form__label:not(:last-child) {
  margin-bottom: 28px;
}

span {
  position: absolute;
  top: -25%;
  left: 49px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.form__label input,
.acept__terms input {
  margin-top: 5px;
  margin-left: 49px;
  padding: 12px 16px 12px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
}

.form__label input {
  width: 100%;
  margin-right: 49px;
}

.form--icon {
  position: absolute;
  top: 60%;
  left: 65px;
  transform: translateY(-50%);
}

.comment {
  position: absolute;
  top: -13%;
  left: 49px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

textarea {
  width: 100%;
  height: 100px;
  margin-left: 49px;
  margin-right: 49px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--text-color);
  resize: none;
}
textarea:focus {
  border-color: var(--change-color);
  outline: 0 none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type=checkbox] {
  width: 16px;
  height: 15px;
  visibility: hidden;
}

.icon__check {
  position: absolute;
  top: 3px;
  width: 13px;
  height: 12px;
  border: 2px solid var(--text-color);
  border-radius: 4px;
}

.checkbox:checked + .icon__check {
  background-color: var(--change-color);
  background-image: url(../images/icon-check.svg);
  border-color: transparent;
  background-size: contain;
  background-origin: border-box;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.acept__terms {
  position: relative;
  display: flex;
  margin-top: -22px;
  margin-left: 15px;
  margin-bottom: 5px;
  gap: 5px;
}

.acept__terms__text {
  margin-left: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--link-ad-description-color);
}

.button--form {
  width: 180px;
  height: 45px;
  margin-right: auto;
  margin-left: auto;
  background: var(--change-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--body-background-color);
  border: 0;
}

input:focus-within {
  border-color: var(--change-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label:focus-within {
  fill: var(--change-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#button-close {
  position: absolute;
  top: 22px;
  right: 22px;
  transform: translate(50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--body-background-color);
}
#button-close:hover {
  color: var(--change-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .form__label input {
    width: 370px;
    margin-right: 0;
  }
  textarea {
    width: 397px;
    margin-right: 0;
  }
}
.banner__team {
  background: var(--team-background);
}

/*@media screen and (min-width: 180px) and (max-width: 480px) {

  .banner__team {
    width: 480px;
  }
}*/
#team {
  width: 100%;
  margin: 0;
  padding: 60px 0;
}
#team h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-title-color);
  margin-bottom: 50px;
}

.team {
  background-color: var(--body-background-color);
  text-align: center;
  /*width: 450px;
  height: 622px;*/
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.character {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 0;
}

#team figcaption h3 {
  padding-top: 30px;
  padding-bottom: 10px;
}
#team figcaption p {
  color: var(--link-ad-description-color);
}

.team__social {
  display: flex;
  /*width: 44px;
  height: 44px;*/
  gap: 15px;
  /*margin-left: 115px;*/
  margin-top: 18px;
  list-style: none;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .team__social {
    justify-content: flex-start;
    gap: 15px;
    margin-top: 28px;
  }
}
.team__social--link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--body-background-color);
  border-radius: 50%;
}

.team__social__icon {
  fill: var(--color-social-links-team);
  margin-top: 12px;
  margin-left: 12px;
}
.team__social__icon:hover {
  fill: var(--body-background-color);
}

.team__social--link:hover {
  background-color: var(--change-color);
}

@media screen and (min-width: 768px) {
  #team {
    width: 768px;
  }
  .team {
    width: 354px;
    height: 536px;
  }
  .character {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .character .character--style {
    width: calc((100% - 30px) / 2);
  }
  .team__social {
    margin-left: 67px;
  }
}
@media screen and (min-width: 1200px) {
  #team {
    width: 1200px;
    padding: 94px 0;
  }
  #team h2 {
    font-size: 36px;
    line-height: 42px;
  }
  .team {
    width: 270px;
    height: 428px;
  }
  .character {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .team__social {
    margin-left: 25px;
    margin-top: 17px;
  }
}/*# sourceMappingURL=main.css.map */